<head>
  <p id="notice"><%= notice %></p>
  <%= render 'layouts/nav', tshirt: @tshirt %>
</head>
<p id="notice"><%= notice %></p>
<div class="jumbotron text-center">
  <h1>Users</h1>
</div>


<div class="container-fluid">
  <div class="container">
    <% @users.each do |user| %>
        <div class="row">
          <div class="col-lg-6">
            <h2> Name : <%= user.name %></h2>
            <h2> Email :<%= user.email %></h2>
          </div>

          <div class="col-lg-6">

            <button class="btn-group-justified" style="background-color: #ff6c0d">
              <h3><%= link_to 'View', 'show': @user %></h3>
            </button>
            <button class="btn-group-justified" style="background-color: darkblue">
              <span class="badge"><h3> <%= link_to 'Edit', edit_user_path(user) %></h3></span>
            </button>
            <button class="btn-group-justified" style="background-color: #28cc2b">
              <h3> <%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></h3>
            </button>


          </div>
          <br><br>
        </div>




    <% end %>

  </div>


  <br>
  <button class="btn-success">

 <h3> <%= link_to 'New User', new_user_path %></h3></button>
</div>