
  <head>
    <%= render 'layouts/nav', tshirt: @tshirt %>
  </head>
  <div class="jumbotron">
<div class="row">
<p id="notice"><%= notice %></p>
<h3 style="text-align: center">Account Details</h3>
<h4 style="text-align: center"> Name :
        <%= @user.name %></h4>
<h4 style="text-align: center"> Email :
        <%= @user.email %></h4>


</div>
    <div class="col-lg-4" >
      <button class="btn-group-justified" style="background-color: #ff6c0d">
        <h3><%=link_to 'View', 'show':@user %></h3>
      </button>
      <button class="btn-group-justified" style="background-color: darkblue">
        <span class="badge"><h3> <%=link_to'Edit', edit_tshirt_path(@user) %></h3></span>
      </button>
      <button class="btn-group-justified"style="background-color: #28cc2b">
        <h3> <%=link_to'Back',users_path %></h3>
      </button>
    </div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>