
<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @tshirt.titel %>
</p>
<p>
  <strong>Description:</strong>
  <%= @tshirt.description %>
</p>
<p>
  <div >
    <%= image_tag@tshirt.image %>

  </div>

</p>

<p>
  <strong>Category:</strong>
  <%= @tshirt.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tshirt.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tshirt.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @tshirt.stock %>
</p>


<%= link_to 'Edit', edit_tshirt_path(@tshirt) %> |
<%= link_to 'Back', tshirts_path %>
